<div
    class="text-xl font-normal text-gray-500 tracking-tight flex flex-col items-stretch"
>
    <div>
        <mat-icon
            class="self-center mr-2 icon-size-4"
            [svgIcon]="'feather:file-text'"
        ></mat-icon>
        <mat-label class="self-center"
            >{{ 'app.auto_list_of_links_running_automati' | transloco
            }}</mat-label
        >
    </div>
</div>

<div mat-dialog-content class="p-0 overflow-hidden mt-4">
    <form [formGroup]="urlForm">
        <!-- Header -->
        <div
            class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between"
        >
            <div class="flex-1 min-w-0">
                <mat-form-field
                    class="flex-auto w-full fuse-mat-dense fuse-mat-emphasized-affix"
                    [subscriptSizing]="'dynamic'"
                >
                    <!-- <mat-label>{{ 'app.auto_add_automatic_link' | transloco }}</mat-label> -->
                    <input
                        matInput
                        [formControlName]="'link'"
                        [placeholder]="'Địa chỉ website'"
                        required
                    />
                    <mat-icon
                        class="icon-size-4"
                        matPrefix
                        [svgIcon]="'feather:link'"
                    ></mat-icon>
                </mat-form-field>
            </div>

            <!-- Actions -->
            <div class="flex shrink-0 items-center min-w-60 mt-0 ml-2">
                <mat-form-field
                    class="flex-auto w-full fuse-mat-dense fuse-mat-emphasized-affix"
                    [subscriptSizing]="'dynamic'"
                >
                    <!-- <mat-label>{{ 'app.auto_video_duration' | transloco }}</mat-label> -->
                    <input
                        matInput
                        [formControlName]="'duration'"
                        [placeholder]="'2:09'"
                    />
                    <mat-icon
                        class="icon-size-4"
                        matPrefix
                        [svgIcon]="'feather:clock'"
                    ></mat-icon>
                </mat-form-field>
            </div>

            <div class="flex shrink-0 items-center mt-0 ml-2">
                <button mat-icon-button color="primary" (click)="add()">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'mat_outline:save'"
                    ></mat-icon>
                </button>
            </div>
        </div>
    </form>

    <div class="mt-6 mb-2">
        <h2>{{ 'app.auto_your_link' | transloco }}</h2>

        <ngx-datatable
            [virtualization]="true"
            class="material shadow-none border rounded-lg min-h-100 mt-2"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="getRowHeight"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [rows]="data"
        >
            <ngx-datatable-column
                name="Link"
                [sortable]="true"
                [canAutoResize]="true"
                [draggable]="true"
                [resizeable]="true"
            >
                <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    let-value="value"
                    let-row="row"
                >
                    @if (!editing[rowIndex + '-link']) {
                    <span
                        matTooltip="Double click to edit"
                        matTooltipPosition="above"
                        (dblclick)="editing[rowIndex + '-link'] = true"
                        class="truncate hover:text-clip"
                    >
                        {{ value }}
                    </span>
                    } @if (editing[rowIndex + '-link']) {
                    <input
                        autofocus
                        (blur)="updateValue($event, 'link', rowIndex)"
                        type="text"
                        (keyup.enter)="updateLink($event, rowIndex)"
                        [value]="value"
                        class="w-full text-green-700 border rounded p-2"
                    />
                    }
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
                name="Options"
                [width]="200"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
            >
                <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    let-value="value"
                    let-row="row"
                >
                    @if (!editing[rowIndex + '-duration']) {
                    <span
                        matTooltip="Double click to edit"
                        matTooltipPosition="above"
                        (dblclick)="editing[rowIndex + '-duration'] = true"
                        class="truncate hover:text-clip"
                    >
                        {{ value.duration }}
                    </span>
                    } @if (editing[rowIndex + '-duration']) {
                    <input
                        autofocus
                        (blur)="updateDurationValue($event, 'duration', rowIndex)"
                        type="text"
                        (keyup.enter)="updateDuration($event, rowIndex)"
                        [value]="value.duration"
                        class="w-full text-green-700"
                    />
                    }
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<div mat-dialog-actions class="p-0 mt-4">
    <div class="flex w-full sm:items-center justify-between">
        <div class="flex justify-start gap-2">
            <button mat-flat-button color="primary" (click)="run()">
                <mat-icon
                    class="icon-size-4"
                    [svgIcon]="'feather:play'"
                ></mat-icon>
                <mat-label class="ml-2"
                    >{{ 'app.increase_traffic_for_link' | transloco
                    }}</mat-label
                >
            </button>
            <button mat-button (click)="close()">Đóng cửa sổ</button>
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-0 sm:ml-4">
            <div class="inline-block">
                <button
                    mat-icon-button
                    color="primary"
                    (click)="uploader.click()"
                >
                    <mat-icon
                        class="icon-size-4"
                        [svgIcon]="'feather:paperclip'"
                    ></mat-icon>
                </button>

                <input
                    hidden
                    #uploader
                    id="file"
                    name="file"
                    (change)="readFile($event)"
                    type="file"
                />
            </div>

            <a
                mat-icon-button
                [href]="downloadJsonHref"
                download="links.json"
                [color]="'primary'"
                class="ml-0"
            >
                <mat-icon
                    class="icon-size-4"
                    [svgIcon]="'feather:download'"
                ></mat-icon>
            </a>
        </div>
    </div>
</div>
