<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-50 cursor-pointer" [routerLink]="['/']">
                <img src="assets/images/logo/typing-logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Confirmation required</div>
            <div class="mt-4">
                A confirmation mail with instructions has been sent to your email address.
                Follow those instructions to confirm your email address and activate your account.
            </div>

            <!-- Form footer -->
            <div class="mt-8 text-md font-medium text-secondary">
                <span>Return to</span>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">sign in
                </a>
            </div>
        </div>
    </div>

    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden banner-1">
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full">
            <div class="text-7xl font-semibold leading-normal text-dark-100">
                <div><span class="bg-yellow-100 px-2">ai.type</span></div>
                <div><span class="bg-yellow-100 px-2">{{ 'app.auto_writing_articles_must_have_ai' | transloco }}</span></div>
            </div>
            <!-- <div class="mt-6 text-base tracking-tight leading-6 text-dark-400 max-w-2xl">
                {{ 'app.auto_ai_type_is_software_that_suppo' | transloco }}
            </div> -->
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img class="flex-0 w-10 h-10 rounded-full object-cover" src="assets/images/avatars/female-18.jpg">
                    <img class="flex-0 w-10 h-10 rounded-full object-cover" src="assets/images/avatars/female-11.jpg">
                    <img class="flex-0 w-10 h-10 rounded-full object-cover" src="assets/images/avatars/male-09.jpg">
                    <img class="flex-0 w-10 h-10 rounded-full object-cover" src="assets/images/avatars/male-16.jpg">
                </div>
                <div class="ml-4 text-base tracking-tight leading-6 text-gray-700">{{ 'app.auto_more_than_1k_members_participa' | transloco }}</div>
            </div>
        </div>
    </div>
</div>