# See http://help.github.com/ignore-files/ for more about ignoring files.

*.exe
*.mp3
*.wav
*.webm
*.mp4

# compiled output
/dist
/tmp
/release-builds
/out-tsc
# Only exists if Bazel was run
/bazel-out
/electron/release-builds
/electron/views
/electron/pkg-macos
/electron/my-pm2-cli
/electron/crm

*build

# dependencies
*node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/screenshots
*.lock
yarn.lock
package-lock.json
package-lock.json
electron/dist
electron/fallback
electron/services
electron/downloader-macos
electron/type-lite-macos
electron/downloader-win.exe
electron/type-lite-win.exe
/electron/models
