<div class="w-full max-w-full">
    <!-- Section -->
    <div class="w-full">
        <!-- <div class="text-xl">{{ 'app.auto_connect_your_website' | transloco }}</div> -->
        <div class="text-secondary leading-8 mt-2">
            <p>{{ 'app.domain_used_during_content' | transloco }}</p>
        </div>
        <div class="text-secondary leading-8 mt-4">
            <fuse-alert [appearance]="'outline'" [type]="'warning'">
                {{ 'app.do_not_use_main_password' | transloco }}
            </fuse-alert>
        </div>
    </div>

    <div class="mt-8">
        <ngx-datatable [virtualization]="true" #mydatatable class="material shadow-none border rounded-lg"
            [headerHeight]="50" [columnMode]="ColumnMode.force" [footerHeight]="70" [rowHeight]="getRowHeight"
            rowHeight="auto" [rows]="rows">
            <ngx-datatable-column name="{{ 'app.domain' | transloco }}" [sortable]="false" [canAutoResize]="true" [draggable]="false"
                [resizeable]="true">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span *ngIf="!rows[rowIndex].addnew" class="relative">
                        {{ row.domain }}

                        <div *ngIf="rowIndex === 0"
                            class="absolute -right-18 -top-2 z-9999 flex items-center h-7 px-3 rounded-full text-xs font-semibold leading-8 bg-primary-200 text-primary-700">
                            {{ 'app.default' | transloco }}
                        </div>
                    </span>

                    <input [placeholder]="'app.your_domain_placeholder' | transloco" *ngIf="rows[rowIndex].addnew"
                        (blur)="updateValue($event, 'domain', rowIndex)" class="text-green-700 border rounded p-2"
                        type="text" [value]="row.domain" />
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ 'app.username' | transloco }}" [sortable]="false" [canAutoResize]="true" [draggable]="false"
                [resizeable]="true">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <span matTooltipPosition="above" [matTooltip]="'app.double_click_to_edit_tooltip' | transloco"
                        (dblclick)="editing[rowIndex + '-username'] = true"
                        *ngIf="!editing[rowIndex + '-username'] && !rows[rowIndex].addnew">
                        {{ showPassword ? row.username : maskPassword(row.username) }}
                    </span>

                    <input [placeholder]="'app.username_placeholder' | transloco" *ngIf="editing[rowIndex + '-username'] && !rows[rowIndex].addnew"
                        (blur)="updateValue($event, 'username', rowIndex)" class="text-green-700 border rounded p-2"
                        type="password" [value]="row.username" />

                    <input [placeholder]="'app.username_placeholder' | transloco" *ngIf="rows[rowIndex].addnew"
                        (blur)="updateValue($event, 'username', rowIndex)" class="text-green-700 border rounded p-2"
                        type="password" [value]="row.username" />
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ 'app.secondary_password' | transloco }}" [sortable]="false" [canAutoResize]="true" [draggable]="false"
                [resizeable]="true">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <span matTooltipPosition="above" [matTooltip]="'app.double_click_to_edit_tooltip' | transloco"
                        (dblclick)="editing[rowIndex + '-password'] = true"
                        *ngIf="!editing[rowIndex + '-password'] && !rows[rowIndex].addnew">
                        {{ showPassword ? row.password : maskPassword(row.password) }}
                    </span>

                    <input [placeholder]="'app.secondary_password_placeholder' | transloco"
                        *ngIf="editing[rowIndex + '-password'] && !rows[rowIndex].addnew"
                        (blur)="updateValue($event, 'password', rowIndex)" class="text-green-700 border rounded p-2"
                        type="password" [value]="row.password" />

                    <input [placeholder]="'app.secondary_password_placeholder' | transloco" *ngIf="rows[rowIndex].addnew"
                        (blur)="updateValue($event, 'password', rowIndex)" class="text-green-700 border rounded p-2"
                        type="password" [value]="row.password" />
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="" [width]="100" [sortable]="false" [canAutoResize]="true" [draggable]="false"
                [resizeable]="true">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <div class="flex items-center justify-self-stretch">
                        <mat-label *ngIf="!row.addnew"
                            class="h-7 leading-7 items-center cursor-pointer px-3 rounded-full text-sm font-semibold bg-blue-500 hover:bg-blue-600 text-white mr-2"
                            (click)="edit(rowIndex)">
                            {{ 'app.save' | transloco }}
                        </mat-label>

                        <mat-label *ngIf="row.addnew"
                            class="h-7 leading-7 items-center cursor-pointer px-3 rounded-full text-sm font-semibold bg-green-500 hover:bg-green-600 text-white"
                            (click)="add(rowIndex)">
                            {{ 'app.add_new' | transloco }}
                        </mat-label>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-footer *ngIf="true">
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                    <button class="ml-4" [disabled]="rows[rowCount - 1] && rows[rowCount - 1].addnew" mat-flat-button
                        type="button" (click)="addNewForm()" [color]="'primary'">{{ 'app.add' | transloco }}</button>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
</div>