<div class="absolute inset-0 flex flex-col bg-white min-w-0 overflow-hidden">
	<!-- Header -->
	<div class="flex flex-row flex-0 items-center justify-between p-6">
		<div class="flex-1 flex-row shrink-0 items-center">
			<!-- Title -->
			<label class="uppercase text-primary font-semibold">
				{{ 'app.auto_ai_type_software_user_guide' | transloco }}
			</label>
		</div>

		<!-- Actions -->
		<div class="flex flex-row shrink-0 items-center">
			<mat-icon class="icon-size-4 text-primary" svgIcon="feather:help-circle"></mat-icon>
		</div>
	</div>

	<!-- Main -->
	<div class="flex-auto px-6 pb-2 pt-2 overflow-y-auto" cdkScrollable>
		<section class="_section_1qxdv_129" id="policy-guidelines" data-slot="article-section">
			<h1 class="_sectionTitle_1qxdv_135 _size:headline-3_tcuns_77 _v2_tcuns_75 _size:headline-3_1nc1d_171">
				<strong>{{ 'app.auto_principle' | transloco }}</strong> {{ 'app.auto_policy_for_the_gemini_app' | transloco }}</h1>
			<div class="_sectionBody_1qxdv_154 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
				<p>{{ 'app.auto_our_goal_for_the_gemini_applic' | transloco }}<a href="https://transparency.google/our-approach/our-policy-process/">{{ 'app.auto_processes' | transloco }}</a>{{ 'app.auto_developed_over_many_years_thro' | transloco }}</p>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">{{ 'app.auto_content_threatening_the_safety' | transloco }}</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>{{ 'app.auto_gemini_must_not_generate_resul' | transloco }}</p>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">{{ 'app.auto_dangerous_activity' | transloco }}</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>{{ 'app.auto_gemini_should_not_generate_res' | transloco }}</p>
						<ul>
							<li>
								<p>{{ 'app.auto_guidance_on_suicide_and_other' | transloco }}</p>
							</li>
							<li>
								<p>{{ 'app.auto_content_that_facilitates_activ' | transloco }}</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">{{ 'app.auto_content_violence_and_blood' | transloco }}</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>{{ 'app.auto_gemini_is_not_allowed_to_gener' | transloco }}</p>
						<ul>
							<li>
								<p>{{ 'app.auto_content_that_is_too_bloody_gor' | transloco }}</p>
							</li>
							<li>
								<p>{{ 'app.auto_content_describing_senseless_v' | transloco }}</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">{{ 'app.auto_false_information_can_be_harmf' | transloco }}</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>{{ 'app.auto_gemini_must_not_generate_false' | transloco }}</p>
						<ul>
							<li>
								<p>{{ 'app.auto_medical_information_that_contr' | transloco }}</p>
							</li>
							<li>
								<p>{{ 'app.auto_inaccurate_information_threate' | transloco }}</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">{{ 'app.auto_content_is_harassing_provocati' | transloco }}</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>{{ 'app.auto_gemini_should_not_produce_resu' | transloco }}</p>
						<ul>
							<li>
								<p>{{ 'app.auto_content_that_calls_for_assault' | transloco }}
								</p>
							</li>
							<li>
								<p>{{ 'app.auto_content_that_demeans_human_dig' | transloco }}</p>
							</li>
							<li>
								<p>Suggestions that protected groups are less than human or inferior, such as malicious
									comparisons to animals or suggestions that they are fundamentally evil.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">{{ 'app.auto_pornographic_content' | transloco }}</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>{{ 'app.auto_gemini_must_not_generate_resul_1' | transloco }}</p>
						<ul>
							<li>
								<p>{{ 'app.auto_pornographic_or_erotic_content' | transloco }}</p>
							</li>
							<li>
								<p>{{ 'app.auto_content_describing_rape_sexual' | transloco }}</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _border-top_13axi_162">
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>{{ 'app.auto_of_course_context_plays_an_imp' | transloco }}</p>
						<p>{{ 'app.auto_ensuring_that_gemini_complies' | transloco }}<a
								href="https://support.google.com/legal/troubleshooter/1114905?sjid=7874916581349042271-NC&amp;hl=vi-VN#ts=1115658%2C13380504">{{ 'app.auto_convenient_tools_for_users_to' | transloco }}</a>{{ 'app.auto_nbsp_according_to_our_policy' | transloco }}<a
								href="https://policies.google.com/terms/generative-ai/use-policy">{{ 'app.auto_policy_on_prohibited_behaviors' | transloco }}</a> {{ 'app.auto_ours' | transloco }}</p>
						<p>{{ 'app.auto_we_will_continue_to_explore_ho' | transloco }}<a href="https://gemini.google/our-approach/">{{ 'app.auto_here' | transloco }}</a>{{ 'app.auto_about_our_approach_in_building' | transloco }}</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>