<div class="absolute inset-0 flex flex-col bg-white min-w-0 overflow-hidden">
	<!-- Header -->
	<div class="flex flex-row flex-0 items-center justify-between p-6">
		<div class="flex-1 flex-row shrink-0 items-center">
			<!-- Title -->
			<label class="uppercase text-primary font-semibold">
				Hướng dẫn sử dụng phần mềm Ai.Type
			</label>
		</div>

		<!-- Actions -->
		<div class="flex flex-row shrink-0 items-center">
			<mat-icon class="icon-size-4 text-primary" svgIcon="feather:help-circle"></mat-icon>
		</div>
	</div>

	<!-- Main -->
	<div class="flex-auto px-6 pb-2 pt-2 overflow-y-auto" cdkScrollable>
		<section class="_section_1qxdv_129" id="policy-guidelines" data-slot="article-section">
			<h1 class="_sectionTitle_1qxdv_135 _size:headline-3_tcuns_77 _v2_tcuns_75 _size:headline-3_1nc1d_171">
				<strong>Nguyên tắc</strong> chính sách dành cho ứng dụng Gemini</h1>
			<div class="_sectionBody_1qxdv_154 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
				<p>Mục tiêu của chúng tôi đối với ứng dụng Gemini là mang lại lợi ích tối đa cho người dùng và tránh đưa
					ra kết quả có thể gây hại hoặc gây phản cảm trong thực tế. Dựa trên kiến thức chuyên môn cũng
					như&nbsp;<a href="https://transparency.google/our-approach/our-policy-process/">các quy
						trình</a>&nbsp;được phát triển trong nhiều năm thông qua nghiên cứu, phản hồi của người dùng và
					ý kiến của chuyên gia về nhiều sản phẩm của Google, chúng tôi mong muốn Gemini tránh đưa ra một số
					loại kết quả có vấn đề, chẳng hạn như:</p>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">Nội dung đe
						doạ đến sự an toàn của trẻ em</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>Gemini không được tạo kết quả mang tính chất bóc lột trẻ em hoặc biến trẻ em thành đối tượng
							tình dục, bao gồm cả Nội dung xâm hại tình dục trẻ em.</p>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">Hoạt động
						nguy hiểm</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>Gemini không được tạo kết quả có nội dung khuyến khích hoặc tạo điều kiện cho các hoạt động
							nguy hiểm có thể gây hại trong thực tế. Loại kết quả này bao gồm:</p>
						<ul>
							<li>
								<p>Hướng dẫn về cách tự tử và các hoạt động tự huỷ hoại bản thân khác, bao gồm cả chứng
									rối loạn ăn uống.</p>
							</li>
							<li>
								<p>Nội dung tạo điều kiện cho các hoạt động có thể gây hại trong thực tế, chẳng hạn như
									hướng dẫn cách mua thuốc bất hợp pháp hoặc hướng dẫn chế tạo vũ khí.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">Nội dung
						bạo lực và máu me</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>Gemini không được tạo kết quả có nội dung mô tả hoặc miêu tả cảnh bạo lực giật gân, gây sốc
							hoặc vô cớ, bất kể có thật hay hư cấu. Loại kết quả này bao gồm:</p>
						<ul>
							<li>
								<p>Nội dung quá đẫm máu, máu me hoặc mô tả thương tích thái quá.</p>
							</li>
							<li>
								<p>Nội dung mô tả hành vi bạo lực vô cớ đối với động vật.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">Thông tin
						sai sự thật có thể gây hại</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>Gemini không được tạo kết quả sai sự thật có thể gây hại đáng kể trong thực tế đối với sức
							khoẻ, sự an toàn hoặc tài chính của bất cứ ai. Loại kết quả này bao gồm:</p>
						<ul>
							<li>
								<p>Thông tin y tế mâu thuẫn với những quan điểm y tế/khoa học uy tín đã được đồng thuận
									hoặc các phương pháp y tế dựa trên bằng chứng.</p>
							</li>
							<li>
								<p>Thông tin không chính xác đe doạ đến sự an toàn về thể chất, chẳng hạn như cảnh báo
									sai về thảm hoạ hoặc tin tức sai lệch về vụ việc bạo lực đang diễn ra.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">Nội dung
						mang tính chất quấy rối, kích động và phân biệt đối xử</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>Gemini không được tạo kết quả mang tính chất kích động bạo lực, tấn công ác ý hoặc cấu thành
							hành vi bắt nạt hoặc đe doạ đối với cá nhân hoặc nhóm người. Loại kết quả này bao gồm:</p>
						<ul>
							<li>
								<p>Nội dung kêu gọi tấn công, gây thương tích hoặc sát hại cá nhân hoặc một nhóm người.
								</p>
							</li>
							<li>
								<p>Nội dung hạ thấp nhân phẩm hoặc ủng hộ hành vi phân biệt đối xử với cá nhân hoặc nhóm
									người dựa trên một đặc điểm được pháp luật bảo vệ.</p>
							</li>
							<li>
								<p>Suggestions that protected groups are less than human or inferior, such as malicious
									comparisons to animals or suggestions that they are fundamentally evil.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _title:color-black-40_13axi_128">
					<h2 class="_title_13axi_102 _v2_tcuns_75 _size:headline-5_1nc1d_213 _markdown_1nc1d_326">Nội dung
						khiêu dâm</h2>
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>Gemini không được tạo kết quả mô tả hoặc miêu tả một cách phản cảm về hành động tình dục lộ
							liễu, trần trụi, hành vi bạo lực tình dục hoặc bộ phận sinh dục trên cơ thể. Loại kết quả
							này bao gồm:</p>
						<ul>
							<li>
								<p>Nội dung khiêu dâm hoặc gợi dục.</p>
							</li>
							<li>
								<p>Nội dung mô tả hành vi cưỡng hiếp, tấn công tình dục hoặc xâm hại tình dục.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="_sectionBlock_1qxdv_186 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247"
				data-type="CopyBlock">
				<div class="_theme:v2_13axi_156 _border-top_13axi_162">
					<div class="_body_13axi_121 _size:body_tcuns_85 _v2_tcuns_75 _size:body_1nc1d_247">
						<p>Tất nhiên, ngữ cảnh có vai trò quan trọng. Chúng tôi xem xét nhiều yếu tố khi đánh giá kết
							quả mà ứng dụng đưa ra, bao gồm cả mục đích sử dụng cho giáo dục, phim tài liệu, nghệ thuật
							hoặc khoa học.</p>
						<p>Việc đảm bảo Gemini tuân thủ các nguyên tắc này là cả một thách thức: Người dùng có thể tương
							tác với Gemini theo vô số kiểu và Gemini cũng có thể trả lời theo muôn vàn cách. Lý do là vì
							các LLM (mô hình ngôn ngữ lớn) mang tính xác suất, tức là luôn đưa ra câu trả lời mới và
							khác nhau cho hoạt động đầu vào của người dùng. Bên cạnh đó, Gemini đưa ra kết quả dựa trên
							dữ liệu huấn luyện của Gemini nên đôi khi sẽ thể hiện những điểm hạn chế của dữ liệu đó. Đây
							là những vấn đề nổi cộm của các mô hình ngôn ngữ lớn và dù chúng tôi không ngừng nỗ lực nhằm
							giảm bớt các thách thức này thì đôi khi, Gemini vẫn có thể đưa ra nội dung vi phạm nguyên
							tắc của chúng tôi, thể hiện quan điểm hạn chế hoặc chứa kết luận quy chụp, đặc biệt là khi
							trả lời những câu lệnh khó.&nbsp; Chúng tôi nêu rõ những hạn chế này cho người dùng biết
							thông qua nhiều phương thức, khuyến khích người dùng gửi phản hồi cũng như cung cấp&nbsp;<a
								href="https://support.google.com/legal/troubleshooter/1114905?sjid=7874916581349042271-NC&amp;hl=vi-VN#ts=1115658%2C13380504">các
								công cụ tiện lợi để người dùng báo cáo nội dung cần gỡ bỏ</a>&nbsp;theo chính sách của
							chúng tôi và luật hiện hành. Dĩ nhiên, chúng tôi cũng mong người dùng sẽ hành động có trách
							nhiệm và tuân thủ&nbsp;<a
								href="https://policies.google.com/terms/generative-ai/use-policy">chính sách về các hành
								vi bị cấm</a> của chúng tôi.</p>
						<p>Chúng tôi sẽ tiếp tục tìm hiểu thêm về cách mọi người sử dụng ứng dụng Gemini và những khía
							cạnh mà mọi người thấy ứng dụng giúp ích nhiều nhất, rồi cập nhật các nguyên tắc này cho phù
							hợp. Bạn có thể tìm hiểu thêm&nbsp;<a href="https://gemini.google/our-approach/">tại
								đây</a>&nbsp;về cách tiếp cận của chúng tôi trong việc xây dựng ứng dụng Gemini.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>