<div class="absolute inset-0 flex flex-col bg-white min-w-0 overflow-hidden">
	<!-- Header -->
	<div class="flex flex-row flex-0 items-center justify-between p-6">
		<div class="flex-1 flex-row shrink-0 items-center">
			<!-- Title -->
			<label class="uppercase text-primary font-semibold">
				Hướng dẫn sử dụng phần mềm Ai.Type
			</label>
		</div>

		<!-- Actions -->
		<div class="flex flex-row shrink-0 items-center">
			<mat-icon class="icon-size-4 text-primary" svgIcon="feather:help-circle"></mat-icon>
		</div>
	</div>

	<!-- Main -->
	<div class="flex-auto px-6 pb-2 pt-2 overflow-y-auto" cdkScrollable></div>
</div>