<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 sm:bg-white">
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-8 md:p-12 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none">
        <div class="w-full max-w-80 sm:w-100 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-50 cursor-pointer" [routerLink]="['/']">
                <img src="assets/images/logo/typing-logo.svg">
            </div>

            <!-- Title -->
            <!-- <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">AI Type</div> -->
            <div class="flex flex-col mt-2 font-medium text-base">
                <div>Tài khoản diễn đàn. <a class="text-primary-500 hover:underline" href="https://type.vn/register" target="_blank">Tạo tài khoản?</a></div>
            </div>

            <!-- Alert -->
            <!-- <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="'info'">
                Đăng nhập thành công!
            </fuse-alert> -->

            <!-- Alert -->
            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form class="mt-8" (submit)="signIn()" [formGroup]="signInForm" #signInNgForm="ngForm">
                <!-- Email field -->
                <mat-form-field class="w-full fuse-mat-dense fuse-mat-emphasized-affix">
                    <mat-label>Email</mat-label>
                    <input id="username" matInput [formControlName]="'username'">
                    <mat-hint>Email được sử dụng tại diễn đàn <a href="https://type.vn"
                            target="_blank">type.vn</a></mat-hint>
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">
                        Cần E-mail để truy cập
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('username').hasError('username')">
                        Địa chỉ Email của bạn chưa đúng
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full mt-2 fuse-mat-dense fuse-mat-emphasized-affix">
                    <mat-label>Mật khẩu</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-4" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-4" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Chúng tôi yêu cầu mật khẩu để truy cập
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="w-full mt-2 fuse-mat-dense fuse-mat-emphasized-affix">
                    <mat-label>Máy chủ</mat-label>
                    <mat-select [formControlName]="'server'">
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- Actions -->
                <div class="inline-flex items-center justify-between w-full">
                    <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'rememberMe'">
                        Nhớ tài khoản
                    </mat-checkbox>
                    <a class="text-md font-medium text-primary-500 hover:underline" href="https://type.vn/reset"
                        target="_blank">Quên tài khoản?
                    </a>
                </div>

                <ngx-captcha [config]="captchaConfig" [ngClass]="{correct: captchaStatus === true, incorrect: captchaStatus === false}"></ngx-captcha>

                <!-- Submit button -->
                <button class="w-full mt-6" mat-flat-button [color]="'primary'" [disabled]="signInForm.disabled">
                    <span *ngIf="!signInForm.disabled">
                        Truy cập ứng dụng
                    </span>
                    <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'" [strokeWidth]="4"></mat-progress-spinner>
                </button>

                <!-- Separator -->
                <div class="flex items-center mt-4">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary text-base">
                        <a class="text-md font-medium text-primary-500 hover:underline text-center"
                            href="tel:0968661631">Liên hệ yêu cầu tài khoản?</a>
                    </div>
                    <div class="flex-auto mt-px border-t"></div>
                </div>

                <!-- Separator -->
                <!-- <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary text-base">Hoặc bằng cách khác</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div> -->

                <!-- Single sign-on buttons -->
                <!-- <div class="flex items-center mt-8 space-x-4">
                    <button class="flex-auto" type="button" mat-flat-button>
                        <mat-icon class="icon-size-4" [svgIcon]="'feather:pocket'"></mat-icon>
                    </button>
                    <button class="flex-auto" type="button" mat-flat-button>
                        <mat-icon class="icon-size-4" [svgIcon]="'feather:twitter'"></mat-icon>
                    </button>
                    <button class="flex-auto" type="button" mat-flat-button>
                        <mat-icon class="icon-size-4" [svgIcon]="'feather:github'"></mat-icon>
                    </button>
                </div> -->
            </form>
        </div>
    </div>

    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden banner-4">
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full">
            <div class="text-7xl font-bold leading-normal text-dark-100">
                <div><span class="bg-yellow-100 px-2">Tăng cường</span></div>
                <div><span class="bg-yellow-100 px-2">sức mạnh Content</span></div>
            </div>
            <!-- <div class="mt-6 text-base tracking-tight leading-6 text-dark-400 max-w-2xl">
                ai.type là phần mềm hỗ trợ tạo content bằng văn bản, video, hình ảnh hoặc âm thanh
            </div> -->
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img class="flex-0 w-10 h-10 rounded-full object-cover" src="assets/images/avatars/female-18.jpg">
                    <img class="flex-0 w-10 h-10 rounded-full object-cover" src="assets/images/avatars/female-11.jpg">
                    <img class="flex-0 w-10 h-10 rounded-full object-cover" src="assets/images/avatars/male-09.jpg">
                    <img class="flex-0 w-10 h-10 rounded-full object-cover" src="assets/images/avatars/male-16.jpg">
                </div>
                <div class="ml-4 text-base tracking-tight leading-6 text-white">+50 thành viên tham gia
                    AI Type</div>
            </div>
        </div>
    </div>
</div>
