.captcha-container-custom {
    box-shadow: 0px 0px 0px 1px rgba(var(--fuse-border-rgb), var(--tw-border-opacity)) !important;
    border-radius: 6px;
    overflow: hidden;
}

.captcha-actions {
    background: white;
}

.captcha-actions input[type=text] {
    border: none !important;
    width: 100%;
    padding: 10px 16px !important;
    font-size: 14px;
}

.captcha-actions input[type=button] {
    &:hover {
        opacity: 0.7;
    }
    
    border-radius: 0 6px 0 0 !important;
    background: #f5f5f5 !important;
    color: rgb(114, 114, 114);
    font-size: 14px;
    padding: 8px 16px !important;
    cursor: pointer;
    // border-top: 1px solid #e2e8f0 !important;
    // border-right: 1px solid #e2e8f0 !important;
}

.captcha-actions input[type=button] {
    animation: captchaBlink 1.2s infinite;
}

@keyframes captchaBlink {
    0% {
        opacity: 1;
        box-shadow: 0 0 0px rgba(255, 0, 0, 0);
    }

    50% {
        opacity: 0.6;
        box-shadow: 0 0 10px rgba(133, 133, 133, 0.8);
    }

    100% {
        opacity: 1;
        box-shadow: 0 0 0px rgba(255, 0, 0, 0);
    }
}

.captcha-actions a {
    color: #23ab19 !important;
    font-size: 14px !important;
    display: none;
    padding: 8px !important;
}

.captcha-actions a.reload {
    display: inline-flex;
}

.ngx-captcha {
    &.incorrect {
        .captcha-actions input[type=button] {
            &:hover {
                opacity: 0.7;
            }

            background: #f5f5f5 !important;
            color: rgb(247 7 7);
        }
    }

    &.correct {
        .captcha-actions input[type=button] {
            &:hover {
                opacity: 0.7;
            }

            background: #f5f5f5 !important;
            color: #23ab19;
        }
    }
}

// Fallback styles from original ngx-captcha to ensure identical look
.captcha-container { width: 100%; box-shadow: 1px 1px 1px #ccc; }
.captcha-actions input[type=text] { outline: none; }
.captcha-actions input[type=button] { outline: none; border: none; }
.captcha-actions a { cursor: pointer; font-weight: 700; text-decoration: none; }