<!-- Header -->
<div class="flex items-center justify-between mb-2">
    <h2 class="text-xl font-bold text-gray-800 m-0">{{ 'app.draft_mass_email' | transloco }}</h2>
    <button type="button" mat-icon-button mat-dialog-close class="text-gray-500 -mr-4">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
</div>

<p class="text-gray-600 mb-6 text-sm">Bạn đang chọn <b class="text-blue-600">{{ selectedCount }}</b> thành viên để gửi.</p>

<div class="flex flex-col gap-4">
    
    <mat-form-field class="w-full mb-3 fuse-mat-dense fuse-mat-emphasized-affix" [subscriptSizing]="'dynamic'">
        <mat-label>{{ 'app.sender_name' | transloco }}</mat-label>
        <input matInput [(ngModel)]="emailComposer.senderName" [placeholder]="'app.auto_example_type_vn_management_boa' | transloco" required>
    </mat-form-field>

    <mat-form-field class="w-full mb-3 fuse-mat-dense fuse-mat-emphasized-affix" [subscriptSizing]="'dynamic'">
        <mat-label>{{ 'app.email_title' | transloco }}</mat-label>
        <input matInput [(ngModel)]="emailComposer.subject" [placeholder]="'app.auto_enter_title' | transloco" required>
    </mat-form-field>

    <mat-form-field class="w-full mb-3 custom-textarea fuse-mat-dense fuse-mat-emphasized-affix" [subscriptSizing]="'dynamic'">
        <mat-label>{{ 'app.auto_email_content_html_support' | transloco }}</mat-label>
        <textarea class="max-h-60 min-h-20 px-2" matInput [(ngModel)]="emailComposer.content" [placeholder]="'app.auto_enter_the_content_of_the_lette' | transloco" required cdkTextareaAutosize></textarea>
    </mat-form-field>
</div>

<div class="flex items-center justify-end mt-4 mb-2">
    <button mat-flat-button [color]="'primary'" type="button" (click)="submit()" [disabled]="!emailComposer.subject || !emailComposer.content">
        <mat-icon class="icon-size-4" [svgIcon]="'feather:send'"></mat-icon>
        <mat-label class="ml-2 text-base">{{ 'app.auto_send_email' | transloco }}</mat-label>
    </button>
</div>