::ng-deep {
    .datatable-body-row {
        &.is-header { // Bạn có thể dùng [rowClass] để thêm class này
            background-color: #f3f4f6 !important;
            cursor: default !important;
        }
    }
}

.example-margin {
    margin: 10px;
}

.used {
    color: var(--text-primary);
}