.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::ng-deep .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
::ng-deep .model-autocomplete-panel {
    max-height: 300px !important;
    overflow-y: auto !important;
}
