// @import '~quill/dist/quill.bubble.css';
// @import '~quill/dist/quill.snow.css';

.ql-editor{
  padding: 0;
  img {
    margin-bottom: 16px;
  }
}

.ql-bubble .ql-tooltip {
  border-radius: 4px;
  box-shadow: none;
  padding: 0;

  .ql-toolbar {
    border-radius: 0; 
    background: black;
  }
}

.ql-container {
  &.ngx-quill-view-html {
    border: 0 !important;
  }

  padding: 0;
  min-height: calc(100vh - 300px);
  min-width: calc(100vw - 80px);
  box-shadow: none !important;
  border-radius: 0 !important;
  max-height: 30000px;
}

mat-tab-header {
  padding: 0 !important;
}

mat-chip-grid {
  margin: 0 12px !important;
}