<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-4 pb-4 sm:pt-4 sm:pb-4 sm:px-10 bg-gray-50 dark:bg-transparent border-b">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center whitespace-nowrap">
                        <a class="text-base text-primary-500" [routerLink]="['/dashboard']">ai.type</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-4 text-secondary" style="margin-top: 2px;"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <span class="ml-1 text-base text-secondary">sử dụng lại post từ wordpress</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-4 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1 text-base">quay lại</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <!-- <div class="mt-2">
                <p class="tracking-tight leading-7 text-base text-gray-400 sm:leading-10 truncate">
                    dữ liệu bài viết từ wordpress chuyển sang node
                </p>
            </div> -->
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- <button mat-icon-button [color]="'primary'">
                <mat-icon class="icon-size-4" [svgIcon]="'feather:cloud-snow'"></mat-icon>
            </button> -->
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto overflow-y-auto" cdkScrollable>
        <!-- CONTENT GOES HERE -->
        <mat-drawer-container class="flex-auto h-full bg-white place-items-center">
            <!-- Drawer -->
            <!-- <mat-drawer class="w-160 bg-gray-50 border-0 dark:bg-transparent" [autoFocus]="false" [mode]="drawerMode"
                [opened]="drawerOpened" #matDrawer>
                <div class="flex flex-col flex-auto shrink-0 pt-4 px-8 pb-4">
                    <mat-accordion>
                    
                </div>
            </mat-drawer> -->

            <!-- Content -->
            <mat-drawer-content class="mx-auto w-full bg-transparent">
                <mat-vertical-stepper [linear]="isLinear" class="h-full" #stepper>
                    <mat-step label="XML từ Wordpress">
                        <div class="flex items-start justify-start h-full">
                            <div class="inline-block pt-8">
                                <button mat-flat-button color="primary" (click)="uploader.click()">
                                    <mat-icon class="icon-size-4" [svgIcon]="'feather:file'"></mat-icon>
                                    <mat-label class="ml-2">Nhập file XML</mat-label>
                                </button>
        
                                <input hidden #uploader id="file" name="file" (change)="readFile($event)" type="file" />
        
                                <!-- <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button (click)="stepper.reset()">Reset</button>
                                </div> -->
                            </div>
                        </div>
                    </mat-step>
        
                    <mat-step label="Bài viết">
                        <!-- CONTENT GOES HERE -->
                        <div class="flex items-start justify-start min-h-160 relative mt-8">
                            <ngx-datatable [virtualization]="true"  #mydatatable class="material fullscreen shadow-none w-1/2 border rounded-lg" [headerHeight]="50"
                               [columnMode]="ColumnMode.force" [footerHeight]="50" [rowHeight]="getRowHeight"
                                rowHeight="auto" [scrollbarV]="true" [rows]="rows">
                                <ngx-datatable-column name="Title" [sortable]="false" [canAutoResize]="true" [draggable]="false"
                                    [resizeable]="false">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                        let-row="row">
                                        <span>
                                            {{ value }}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </mat-step>
        
                    <mat-step label="Công cụ">
                        <!-- CONTENT GOES HERE -->
                        <div class="flex items-start justify-start h-full">
                            <div class="inline-block pt-8">
                                <button mat-flat-button color="primary" (click)="store()">
                                    <mat-icon class="icon-size-4" [svgIcon]="'feather:database'"></mat-icon>
                                    <mat-label class="ml-2">Lưu trữ vào kho</mat-label>
                                </button>
        
                                <button *ngIf="links.length > 0" mat-flat-button color="" class="ml-2" (click)="download(links)">
                                    <mat-icon class="icon-size-4" [svgIcon]="'feather:download'"></mat-icon>
                                    <mat-label class="ml-2">Download nodes.json</mat-label>
                                </button>
        
                                <a *ngIf="downloadJsonHref" mat-icon-button [href]="downloadJsonHref" download="links.json" [color]="'primary'" class="ml-2">
                                    <mat-icon class="icon-size-4" [svgIcon]="'feather:download'"></mat-icon>
                                  </a>
                            </div>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>