<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-4 pb-4 sm:pt-4 sm:pb-4 sm:px-10 bg-gray-50 dark:bg-transparent border-b">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center whitespace-nowrap">
                        <a class="text-base text-primary-500" [routerLink]="['/dashboard']">ai.type</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-4 text-secondary" style="margin-top: 2px;"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <span class="ml-1 text-base text-secondary">{{ 'app.reuse_post_from_wordpress' | transloco }}</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-4 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1 text-base">{{ 'app.back' | transloco }}</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <!-- <div class="mt-2">
                <p class="tracking-tight leading-7 text-base text-gray-400 sm:leading-10 truncate">
                    dữ liệu bài viết từ wordpress chuyển sang node
                </p>
            </div> -->
        </div>

        <!-- Actions -->
        <div class="flex flex-wrap shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 gap-2">

            <!-- Keyword Search -->
            <mat-form-field *ngIf="selectedDomain"
                class="w-60 field-hidden-subscript fuse-mat-dense fuse-mat-emphasized-affix" appearance="fill">
                <mat-icon matPrefix class="icon-size-4" [svgIcon]="'feather:search'"></mat-icon>
                <input matInput (keyup.enter)="fetchPosts()" [(ngModel)]="keyword" [placeholder]="'app.search_posts' | transloco">
            </mat-form-field>

            <!-- Category Filter -->
            <mat-form-field *ngIf="categories && categories.length > 0"
                class="min-w-40 field-hidden-subscript fuse-mat-dense fuse-mat-emphasized-affix" appearance="fill">
                <mat-select (selectionChange)="fetchPosts()" [(ngModel)]="selectedCategory">
                    <mat-option value="">{{ 'app.all' | transloco }}</mat-option>
                    <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Domain Select -->
            <mat-form-field *ngIf="domains && domains.length > 0"
                class="min-w-60 field-hidden-subscript fuse-mat-dense fuse-mat-emphasized-affix" appearance="fill">
                <mat-icon matPrefix class="icon-size-4" [svgIcon]="'feather:globe'"></mat-icon>
                <mat-select [compareWith]="compareDomainFn" (selectionChange)="onDomainChange($event)"
                    [(ngModel)]="selectedDomain">
                    <ng-container *ngFor="let item of domains; let i = index">
                        <mat-option [value]="item">{{item.domain}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <!-- Sửa toàn bộ -->
            <button mat-flat-button color="primary" *ngIf="selected && selected.length > 0" (click)="editAllSelected()">
                <mat-icon class="icon-size-4" [svgIcon]="'feather:edit-3'"></mat-icon>
                <mat-label class="ml-2">{{ 'app.edit_all' | transloco }}</mat-label>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto overflow-y-auto relative" cdkScrollable>
        <!-- CONTENT GOES HERE -->
        <ngx-datatable [appScrollLock]="loadingPosts" [virtualization]="true" class="material fullscreen transition-opacity duration-300"
            [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"
            [rows]="posts" [selectionType]="'checkbox'" [selected]="selected" (select)="onSelect($event)"
            (scroll)="onScroll($event)">

            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true"></ngx-datatable-column>

            <ngx-datatable-column [name]="'app.title' | transloco" prop="title" [width]="500" [sortable]="true" [canAutoResize]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="flex items-center w-full">
                        <p class="font-normal truncate hover:text-clip" [innerHTML]="row?.title"></p>
                        <button mat-icon-button (click)="editPost(row)" [matTooltip]="'app.edit_post' | transloco"
                            class="flex items-center justify-center ml-2 transition-colors shrink-0">
                            <mat-icon class="icon-size-4 text-gray-600" [svgIcon]="'feather:edit-3'"></mat-icon>
                        </button>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'app.original_link' | transloco" prop="link" [width]="250" [sortable]="true" [canAutoResize]="false"
                [draggable]="false" [resizeable]="false" headerClass="text-right">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row" class="flex items-center justify-end w-full">
                        <a [href]="row.link" target="_blank"
                            class="h-7 leading-7 px-3 bg-blue-500 hover:bg-blue-600 text-white rounded-full text-sm font-semibold truncate hover:text-clip">
                            {{row.link}}
                        </a>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'app.date_created' | transloco" prop="date" [width]="150" [sortable]="true" [canAutoResize]="false"
                headerClass="text-right">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="flex items-center justify-end w-full">
                        <span class="text-gray-500">{{ row?.date | date:'short' }}</span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                    let-isVisible="isVisible">
                    <div class="flex w-full sm:items-center sm:justify-between px-4">
                        <div class="flex-1 min-w-0">
                            <div class="page-count text-sm">
                                {{ 'app.selected_posts_count' | transloco:{selected: (selectedCount ? selectedCount.toLocaleString() : 0), total: (rowCount ? rowCount.toLocaleString() : 0)} }}
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
</div>